<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- orig: <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<link href="/2018/css/main.css" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="{{ '/' | relative_url }}">Home</a></li>
		        	<li><a href="{{ '/about' | relative_url }}">About</a></li>
				<li><a href="{{ '/registration.html' | relative_url }}">Registration</a></li>
	        		<li><a href="{{ '/program' | relative_url }}">Program</a></li>
				<li><a href="{{ '/Lodging' | relative_url }}">Lodging</a></li>
	        		<li><a href="{{ '/code' | relative_url }}">Code of Conduct</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:se.datalibrarian@gmail.com">email</a></li>
	        		<li><a href="https://github.com/se-datalibrarian">github.com/se-datalibrarian</a></li>
				</ul>
			</footer>
		</body>
	</html>
